<p style="color: green"><%= notice %></p>

<div class="container mt-4">
  <div class="row">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h2><%= @event.title %></h2>
        <div class="d-flex align-items-center" style="gap: 4%;">
        <% if current_user == @event.user %>
          <%= link_to "Edit", edit_event_path(@event), class: "btn btn-warning" %>
          <%= button_to "Destroy this event", @event, method: :delete, class: "btn btn-secondary"%>
        <% end %>
        </div>
      </div>

      <%= render @event %>

</div>
</div>
</div>